[submodule "digitalclock"]
	path = digitalclock
	url = ./digitalclock
	branch = shroysha/digitalclock
[submodule "facebookrss"]
	path = facebookrss
	url = ./facebookrss
	branch = shroysha/facebookrss
[submodule "googler"]
	path = googler
	url = ./googler
	branch = shroysha/googler
[submodule "hiddenfiletoggle"]
	path = hiddenfiletoggle
	url = ./hiddenfiletoggle
	branch = shroysha/hiddenfiletoggle
[submodule "mediaserver"]
	path = mediaserver
	url = ./mediaserver
	branch = shroysha/mediaserver
[submodule "mp3rename"]
	path = mp3rename
	url = ./mp3rename
	branch = shroysha/mp3rename
[submodule "passwordbank"]
	path = passwordbank
	url = ./passwordbank
	branch = shroysha/passwordbank
[submodule "school"]
	path = school
	url = ./school
	branch = shroysha/school
[submodule "yahooweather"]
	path = yahooweather
	url = ./yahooweather
	branch = shroysha/yahooweather
