[submodule "digitalclock"]
	path = digitalclock
	url = https://github.com/shroysha/digitalclock.git
	branch = master
[submodule "facebookrss"]
	path = facebookrss
	url = https://github.com/shroysha/facebookrss.git
	branch = master
[submodule "googler"]
	path = googler
	url = https://github.com/shroysha/googler.git
	branch = master
[submodule "hiddenfiletoggle"]
	path = hiddenfiletoggle
	url = https://github.com/shroysha/hiddenfiletoggle.git
	branch = master
[submodule "mediaserver"]
	path = mediaserver
	url = https://github.com/shroysha/mediaserver.git
	branch = master
[submodule "mp3rename"]
	path = mp3rename
	url = https://github.com/shroysha/mp3rename.git
	branch = master
[submodule "passwordbank"]
	path = passwordbank
	url = https://github.com/shroysha/passwordbank.git
	branch = master
[submodule "school"]
	path = school
	url = https://github.com/shroysha/school.git
	branch = master
[submodule "yahooweather"]
	path = yahooweather
	url = https://github.com/shroysha/yahooweather.git
	branch = master
